.article {
    grid-area: article;
    color: white;
    margin-left: 4vh;
    user-select: text;
}

.articleCenter {
    margin-top: 4vh;
}

.text {
    font-size: 1em;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.redir {
    font-weight: bold;
    color: rgb(79, 124, 172);
    text-decoration: none;
}

.redir:hover {
    color: rgb(158, 239, 229);
    text-decoration: underline;
}

li {
    margin-top: 2%;
}

#profileCol {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#headshot {
    display: flex;
    width: 12vw;
    height: 12vw;
    border-radius: 50%;
    border: 6px solid rgb(158, 239, 229);
}

#lang {
    display: flex;
    color: rgb(79, 124, 172);
    font-weight: bold;
}

#lang h2{
    color: white;
    font-weight: bold;
}

.history h3 {
    font-size: 1em;
    color: rgb(79, 124, 172);
    font-weight: bold;
}

.education h3 {
    font-size: 1em;
    color: rgb(79, 124, 172);
    font-weight: bold;
}