body {
    margin: 0;
    min-height: 100vh;
    user-select: none;
    background-color: rgb(22,37,33);
    display: grid;
    font-family: Arial, sans-serif;
    grid-template-rows: 1fr 10fr .2fr;
    grid-template-areas:
    "header"
    "article"
    "footer";
}

#top {
    width: 100%;
    grid-area: header;
    display: grid;
    position: fixed;
    z-index: 1;
    background-color: rgb(255,255,255);
    grid-template-columns: 2fr 1fr 2fr;
    grid-template-areas: "headerleft headercenter headerright";
}

#nav {
    padding-left: 2%;
    grid-area: headerleft;
    display: inline-flex;
    align-items: center;
    user-select: none;
}

.nav-item {
    transition: font-size 0.3s ease-in-out;
    font-size: 2.5vh;
    color: rgb(79, 124, 172);
    text-decoration: none;
}

.enlarged {
    font-size: 2.8vh;
}

#nav a {
    text-decoration: none;
    color: rgb(79, 124, 172);
}

.nav-item a:visited {
    color: rgb(79, 124, 172);
}

.nav-item a:active {
    color: rgb(158, 239, 229);
}

.navSep {
    font-size: 2.5vh;
    margin-left: 5px;
    margin-right: 5px;

    color: rgb(60, 71, 75);
}

#title {
    grid-area: headercenter;
    font-size: 3vh;
    font-weight: bold;
    color: rgb(60, 71, 75);
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: text;
}

#title:hover {
    cursor: url(../img/link.png), auto;
}

.social {
    grid-area: headerright;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    user-select: none;
}

.icon {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 5%;
}

#githubLogo {
    width: 6vh;
    height: auto;
    border-radius: 50%;
}

#footer {
    display: grid;
    grid-area: footer;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "footerleft footercenter footerright";
    background-color: rgb(255,255,255);
    position: relative;

}

