.article {
    background-image: url(../img/background.png);
    background-position-y: top;
    background-size: cover;
    grid-area: article;
    display: grid;
    grid-template-columns: 10% 90%;
    grid-template-rows: 140px 200px;
    user-select: none;
    grid-template-areas: 
        "articleleft welcome"
        "articleleft profolio";
}

#snows {
    margin: 0;
    grid-area: snows;
    display: flex;
    overflow: hidden;
}

#snowsec {
    position: relative;
    width: 100%;
    height: 100%;

}

.snow {
    position: absolute;
    height: auto;
    user-select: none;
}

#snowSelector {
    padding: 16px;
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: column;
}

.snowButton {
    visibility: hidden;
    background-color: rgb(60, 71, 75);
    color: rgb(79, 124, 172);
    border: none;
    border-radius: 5px;
    padding: 4px;
    font-size: 1em;
    margin: 4px;
}

.water {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 5%;
    z-index: -1;
    background-image: url(../img/water.png);
    background-size: cover;
}

#welcome {
    margin: 0;
    padding: 0;
    grid-area: welcome;
    font-weight: bold;
    font-size: 3em;
    color: rgb(158, 239, 229);
}

#profolio{
    margin: 0;
    padding: 0;
    grid-area: profolio;
    font-size: 1.5em;
    color: rgb(79, 124, 172);
}