.article {
    background-image: url(../img/background.png);
    background-position-y: 150px;
    background-size: cover;
    background-repeat: no-repeat;
    grid-area: article;
    bottom: 0;
    display: grid;
    grid-template-rows: 25% 15% 10% 45%;
    grid-template-columns: 10% 45% 45%;
    grid-template-areas: 
    "snows snows snows"
    "welcomeLeft welcome welcomeRight"
    "portfolioLeft portfolio portfolioRight"
    "contentLeft content contentRight";

}

#snows {
    grid-area: snows;
    display: grid;
    grid-template-rows: 40% 40% 20%;
    grid-template-areas: 
    "snowsLeft snowsCenter snowsRight";
}

#snowSelector {
    padding: 16px;
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: column;
}

.snowButton {
    visibility: hidden;
    background-color: rgb(60, 71, 75);
    color: rgb(79, 124, 172);
    border: none;
    border-radius: 5px;
    padding: 4px;
    font-size: 1em;
    margin: 4px;
}

#welcome {
    margin: 0;
    padding: 0;
    grid-area: welcome;
    font-weight: bold;
    font-size: 5vh;
    color: rgb(158, 239, 229);
}

#portfolio{
    grid-area: portfolio;
    font-size: 3vh;
    color: rgb(79, 124, 172);
}

.water {
    grid-area: article;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10%;
    z-index: -1;
    background-image: url(../img/water.png);
    background-size: cover;
    overflow: hidden;
}

.content {
    grid-area: content;
}