.article {
    grid-area: article;
    color: white;

    margin-top: 4vh;
    margin-left: 4vh;
    user-select: text;
    gap: 2vh;

    a {
        color: aqua;
    }
}

.projectDes h1 {
    font-size: 2em;
    color: rgb(79, 124, 172);
}

.projectImgContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.projectImg {
    width: 32vw;
    object-fit: contain;
    border: 6px solid rgb(158, 239, 229);
}