body {
    display: grid;
    font: Arial, sans-serif;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 3fr 1fr;

    grid-template-areas:
    header header header
    articleleft articlecenter articleright
    footerleft footercenter footerright;
}

.header {
    grid-area: header;
    background-color: #f1f1f1;

    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 100px;
    grid-template-areas: "headerleft headercenter headerright";
}

.nav {
    grid-area: headerleft;
    background-color: #f1f1f1;
}

.title {
    grid-area: headercenter;
    background-color: #f1f1f1;
}

.article {
    grid-area: articlecenter;
    background-color: #f1f1f1;
}